$bg-colour: #fff8dc;
$title-colour: #a52a2a;
$bg-panel-blue: #d4d9e6;
$bg-panel-green: #dbeed2;
$bg-panel-red:#ffebe8;
$bg-panel-yellow:#fafad2;
$bg-panel-data: rgba(22, 33, 22, 0.7);
$panel-data-colour: white;
$data-height-colour: #add8e6;
$data-weight-colour:#ff0000;